<!DOCTYPE html>
<html>
  <head>
    <script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script language="JavaScript" src="/scriptcam.js"></script>
    <script language="JavaScript">
      $(document).ready(function() {
        $("#webcam").scriptcam({
          showMicrophoneErrors:false,
          onError:onError,
          cornerRadius:20,
          cornerColor:'e3e5e2',
          onWebcamReady:onWebcamReady,
          uploadImage:'upload.gif',
          onPictureAsBase64:base64_tofield_and_image
        });
      });
      function base64_tofield() {
        $('#formfield').val($.scriptcam.getFrameAsBase64());
      };
      function base64_toimage() {
        $('#image').attr("src","data:image/png;base64,"+$.scriptcam.getFrameAsBase64());
      };
      function base64_tofield_and_image(b64) {
        $('#formfield').val(b64);
        $('#image').attr("src","data:image/png;base64,"+b64);
      };
      function changeCamera() {
        $.scriptcam.changeCamera($('#cameraNames').val());
      }
      function onError(errorId,errorMsg) {
        $( "#btn1" ).attr( "disabled", true );
        $( "#btn2" ).attr( "disabled", true );
        alert(errorMsg);
      }
      function onWebcamReady(cameraNames,camera,microphoneNames,microphone,volume) {
        $.each(cameraNames, function(index, text) {
          $('#cameraNames').append( $('<option></option>').val(index).html(text) )
        });
        $('#cameraNames').val(camera);
      }
    </script>
  </head>
  <body>
    <form action="/save" method="post">
    <div style="width:330px;float:left;">
      <div id="webcam">
      </div>
      <div style="margin:5px;">
        <img src="webcamlogo.png" style="vertical-align:text-top"/>
        <select id="cameraNames" size="1" onChange="changeCamera()" style="width:245px;font-size:10px;height:25px;">
        </select>
      </div>
    </div>
    <div style="width:135px;float:left;">
      <p><button class="btn btn-small" id="btn1" onclick="base64_tofield()">Snapshot to form</button></p>
      <p><button class="btn btn-small" id="btn2" onclick="base64_toimage()">Snapshot to image</button></p>
    </div>
    <div style="width:200px;float:left;">
      <p><textarea id="formfield" style="width:190px;height:70px;"></textarea></p>
      <p><img id="image" style="width:200px;height:153px;"/></p>
    </div>
    <div style="clear: both;">
      <label>Nama:</label>
      <input type="text" style="width: 300px;" name="name" />
    </div>
    <div>
      <label>Jenis Kelamin:</label>
      <select name="sex">
        <option value="male">Cowok</option>
        <option value="female">Cewek</option>
        <option value="transgender">Transgender</option>
        <option value="">Gak jelas</option>
      </select>
    </div>
    <div>
      <label>Divisi:</label>
      <select name="division">
        <option value="online_marketing">Pemasaran dunia maya (online marketing)</option>
        <option value="traditional_marketing">Pemasaran tradisional (traditional marketing)</option>
        <option value="engineering">Insinyur peranti lunak (engineering)</option>
      </select>
    </div>
    <div>
      <label>Alamat surat elektronik:</label>
      <input type="text" style="width: 300px;" name="email" />
    </div>
    <div>
      <label>Telepon:</label>
      <input type="text" style="width: 300px;" name="phone" />
    </div>
    <div>
      <label>Status:</label>
      <select name="status">
        <option value="jomblo">jomblo</option>
        <option value="tunangan">tunangan</option>
        <option value="menikah">menikah</option>
        <option value="selibat">selibat</option>
        <option value="baru_putus">baru putus</option>
        <option value="udah_ada_tapi_masih_cari">udah ada, tapi masih cari yang lebih baik! ^_^</option>
      </select>
    </div>

    <div>
      <input type="submit" value="Kirim data" />
    </div>
    </form>
  </body>
</html>
