<div class="search-bar">
  <div class="search-and-submit">
    <form action="/" method="GET">
      <input name="q" type="search" placeholder="Search" value='<%= @q %>' />
      <button type="submit">
        <%= image_tag "search.png" %>
      </button>
    </form>
  </div>
</div>
