<div class="search-bar">
  <div class="search-and-submit">
    <input type="search" placeholder="Search" />
    <button type="submit">
      <%= image_tag "search.png" %>
    </button>
  </div>
</div>
