<a href="javascript:void(0)" class="js-menu-trigger sliding-menu-button">
  <%= image_tag "menu.png" %>
</a>

<nav class="js-menu sliding-menu-content">
  <ul>
    <li><a href="javascript:void(0)">All</a></li>
    <li><a href="javascript:void(0)">Latest</a></li>
    <li><a href="javascript:void(0)">Random!</a></li>
  </ul>
</nav>

<div class="js-menu-screen menu-screen"></div>
