<a href="javascript:void(0)" class="js-menu-trigger sliding-menu-button">
  <%= image_tag "menu.png" %>
</a>

<nav class="js-menu sliding-menu-content">
  <ul>
    <li><%= link_to "All", root_path %></li>
    <li><%= link_to "Latest", person_path(Person.last) %></li>
    <li><%= link_to "Random!", person_path(Person.all.sample) %></li>
  </ul>
</nav>

<div class="js-menu-screen menu-screen"></div>
